:root {
    --white: rgb(242, 242, 242);
    --midBlue: rgb(26, 41, 74);
    --darkBlue: rgb(16, 21, 48);
    --lightBlue: rgb(34,151,159);
    --bluePurple: rgb(33,33,142);
    --purple: rgb(64,60,136);
    --gradient1: linear-gradient(300deg, var(--purple) 0%, var(--bluePurple) 35%, var(--lightBlue) 100%);
    --gradient2: linear-gradient(300deg, var(--lightBlue) 0%, var(--bluePurple) 35%, var(--purple) 100%);
    --gradient3: linear-gradient(300deg, var(--bluePurple) 35%, var(--midBlue) 100%);
}

body {
    font-family: 'poppins';
    height: 100%; width: 100%;
    overflow: hidden;
    user-select: none;
}

/* Header content */
header {
    background: var(--gradient1);
    display: flex; align-items: center;
    height: 90px; width: 100%;
    justify-content: right;
}

h1 {
    color: var(--white);
    margin-right: 10%;
    font-size: 40px;
}

/* Container for aside and main */
#container {
    color: var(--white);
    display: flex;
    height: 100%; width: 100%;
}

/* Aside content */
aside {
    height: 100%; width: 500px;
    background-color: var(--midBlue);
    padding: 20px;
}

label {
    font-size: 30px; font-weight: bold;
}

#input-border {
    background: var(--gradient1);
    border-radius: 13px;
    height: 40px; width: 100%;
    display: flex; align-items: center; justify-content: center;
    margin: 20px 0 20px 0
}

#input-box {
    background: var(--darkBlue);
    border: none; border-radius: 10px;
    color: var(--white);
    height: 34px; width: 100%;
    margin: 0 3px 0 3px;
    padding: 0 10px 0 10px;
}

#submit-button {
    background-color: var(--lightBlue);
    border: none; border-radius: 4px;
    color: var(--darkBlue);
    cursor: pointer;
    font-size: 20px; font-weight: bold;
    height: 50px; width: 100%;
    transition: 0.3s;
}

#submit-button:hover {
    color: var(--white);
}

*:focus {
    outline: none;
}

.break {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 2px;
    background: var(--gradient2); border-radius: 4px;
}

#cities li {
    padding-top: 20px;
}

#cities a {
    cursor: pointer;
    font-size: 20px;
    transition: 0.3s;
}

#cities a:hover {
    padding-left: 10px;
}

/* Main content */
main {
    height: 100%; width: 100%;
    background-color: var(--darkBlue);
}

/* Current weather */
#current-weather-container {
    display: flex; align-items: center; justify-content: center;
    height: 45%;
}

#current-weather-border {
    background: var(--gradient2);
    border-radius: 4px;
    height: 350px; width: 800px;
    display: flex; align-items: center; justify-content: center;
    margin: 20px 0 20px 0
}

#current-weather-background {
    background: var(--gradient3);
    border-radius: 4px;
    height: 344px; width: 800px;
    display: flex; align-items: center; justify-content: left; flex-wrap: wrap;
    margin: 0 3px 0 3px;
}

#city-date {
    background-color: var(--lightBlue);
    display: flex; align-items: center; 
    font-size: 40px; font-weight: bold;
    height: 70px; width: 100%;
    padding-left: 40px;
}

#current-weather-container h2 {
    font-size: 40px;
    padding-left: 30px;
}

#current-weather {
    height: 274px; width: 100%;
    padding: 30px 30px 30px 100px;
    display: flex; align-items: center; flex-wrap: wrap;
}

#current-weather p {
    font-size: 30px;
    flex-basis: 100%;
}

#current-weather .weather-symbol {
    width: 300px; height: 300px;
    position: absolute;
    margin-left: 300px;
}

h2 {
    font-size: 40px;
    text-align: center;
}

/* Five day forecast */
#five-day-forecast {
    height: 55%;
    display: flex; justify-content: center; flex-wrap: wrap; column-gap: 20px; 
}

.day-container {
    background-color: var(--midBlue);
    border-radius: 4px;
    height: 195px; width: 200px;
}

h3 {
    font-size: 20px;
    padding: 10px 10px 0px 10px
}

#five-day-forecast .weather-symbol {
    font-size: 40px;
    text-align: center;
    padding: 10px;
}

#five-day-forecast p {
    font-size: 20px;
    padding: 0px 10px 0 10px
}

