:root {
    --white: rgb(242, 242, 242);
    --aside: rgb(21, 36, 71);
    --main: rgb(16, 21, 48);
}

body {
    font-family: 'poppins';
    height: 100%; width: 100%;
    overflow: hidden;
}

header {
    background: linear-gradient(300deg, rgba(64,60,136,1) 0%, rgba(33,33,142,1) 35%, rgba(34,151,159,1) 100%);
    display: flex; align-items: center;
    height: 90px; width: 100%;
    justify-content: right;
}

h1 {
    color: var(--white);
    margin-right: 10%;
    font-size: 40px;
}

#container {
    color: var(--white);
    display: flex;
    height: 100%; width: 100%;
}

aside {
    height: 100%; width: 20%;
    background-color: var(--aside);
}

main {
    height: 100%; width: 100%;
    background-color: var(--main);
}